:root {
    font-family: "Bebas Neue", cursive;
    font-family: "Source Code Pro", monospace;
    background-color: #888;
}

.App {
    text-align: center;
}

.main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.score {
    color: black;
}
.score-lost {
    color: red;
}
