body {
    /*https://cssgradient.io/swatches/*/
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    font-family: 'Roboto', sans-serif;
}

.proj_grid {
    display: grid;  
    border: #d53369;
    margin: 5% auto;
}

.my_proj {
    margin: 10px;
    text-align: center;
    font-size: 30px;
}