:root {
    font-family: "Bebas Neue", cursive;
    font-family: "Source Code Pro", monospace;
    background-color: #888;
    font-size: clamp(1.5vh, 30px, 1.5vw);
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#top {
    display: flex;
    height: 60%;
}

#location-div {
    width: 50%;
}
#todays-info-div {
    width: 50%;
    justify-content: right;
    text-align: right;
}

/* weather forecast styling */
#bottom {
    height: 40%;
}

#weather-main {
    display: flex;
    justify-content: center;

    height: 100%;
}

.weather-daily {
    width: 20%;
    text-align: center;

    border-style: inset;
    border-width: 2px;
    height: calc(100%-border-width);
}
