@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    font-family: 'Roboto', sans-serif;
}

#game_board_grid {
    display: grid;
  grid-template-columns: auto auto auto;
  margin: 5% auto 2% auto;
  width: 306px;
  height: 306px;
  background-color: #2196F3;
  padding: 10px;  
}

.game_square {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);  
  font-size: 30px;  
  text-align: center;
  width: 100px;
  height: 70px;
  padding: 30px 0 0 0;
}

#play_button {
    color: #2196F3;
    display: block;
    margin: auto;
}

#winner_text {
    background-color: #E6C363;
    text-align: center;
    
    margin: 1%;
    padding: 1%;
}