.shopping-cart-main-hidden {
    right: -110%;
    transition: right 0.7s ease 0s;
}

.shopping-cart-main-shown {
    right: 0px;
    transition: right 0.25s ease 0s;
}

.shopping-cart-main-shown,
.shopping-cart-main-hidden {
    border-style: inset;
    border-width: 3px;
    background-color: #a4a4a4;

    margin: 5px 0px;
    padding: 5px 5px;

    position: fixed;
    top: 0px;
    bottom: 0px;

    width: 450px;
    min-width: 450px;

    overflow: auto;
    /* firefox - hide scrollbar */
    scrollbar-width: none;
    scroll-behavior: smooth;
}

#shopping-cart-main > ul {
    list-style-type: square;
}
