.shopping-cart-main-hidden {
    right: -30%;
}

.shopping-cart-main-shown {
    right: 0px;
}

.shopping-cart-main-shown,
.shopping-cart-main-hidden {
    border-style: inset;
    border-width: 3px;
    background-color: #a4a4a4;

    margin: 5px 5px;
    padding: 5px 5px;

    position: fixed;
    top: 0px;
    bottom: 0px;
    transition: right 0.55s ease-in-out 0s;

    width: 22%;
    min-width: 450px;

    overflow: auto;
    /* firefox - hide scrollbar */
    scrollbar-width: none;
    scroll-behavior: smooth;
}
